<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>JPA Shop</title>
	<link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
	<script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</head>
<body>
  
  	<div th:fragment="head-bar">
  		<nav class="navbar navbar-dark bg-primary">Hello JPA Shop!</nav>
  	</div>
  
    <footer th:fragment="footer">
      &copy; 2022 copyright Jo Yeoung Deok
    </footer>
  
</body> 
</html>